body{
    margin:0;
    
    padding: 0;
}

.navbar{
    display: block;
    margin: 10px;
    padding: 0;
}
.orderList{
    display: flex;
    width: 100%;
    height: 30px; 
   
    background-color: rgb(7, 7, 23);
    color: white;
     list-style: none;
    
}
li{
    border: 0px solid;
    border-radius: 5px;
    background-color: rgb(129, 53, 187);
    box-sizing: 20px;
     
     margin: auto;
}
.logo{
    margin: revert;
    background-color: yellow;

}
